.contact_main {
  display: flex;
  width: 80%;
  border: red double 10px;
  margin: auto;
  padding: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); /* parameter  x offset y offset  blur radius spread radius color*/
}


@media(min-width:701px){
  .contact_main{
    display: flex;
    flex-direction: row;
    flex: 2;
  }
  .cell{
    flex: 1;
  }
  .cell h4{
    font-size: 1.5rem;
  }
  .cell img{
    width: 220px;
    height: 220px;
  }
  table {
    height: 400px;
    margin-left:auto; 
    margin-right:auto;
  }
  .email{
    text-align: center;
  }
  .cell .contact_link i{
    font-size: 2.7rem;
    padding: 10px;
    text-shadow: black 2px -2px;
  }
  .cell .details table tr{
    padding: 15px;
    margin: 10px;
    background: lightskyblue;
    text-align: left;
    
  }

}

@media(max-width:700px){
  .contact_main{
    flex-direction: column;
  }
  
  .cell h4{
    font-size: 1.8rem;
  }
  .cell img{
    width: 350px;
    height: 350px;
  }
  .cell .contact_link i{
    font-size: 2.7rem;
    padding: 10px;
    text-shadow: black 2px -2px;
  }
  .cell .details{
    margin: auto;
    align-content: center;
  }
  
  table {
    margin-left:auto; 
    margin-right:auto;
  }
  .cell .details table tr{
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
    background: lightskyblue;
    
  }
}


@media(max-width:600px){
  .contact_main{
    flex-direction: column;
  }
  
  .cell h4{
    font-size: 1.8rem;
  }
  .cell img{
    width: 320px;
    height: 320px;
  }
  .cell .contact_link i{
    font-size: 2.7rem;
    padding: 10px;
    text-shadow: black 2px -2px;
  }
  .cell .details{
    margin: auto;
    align-content: center;
  }
  
  table {
    margin-left:auto; 
    margin-right:auto;
  }
  .cell .details table tr{
    padding: 5px;
    margin: 5px;
    background: lightskyblue;
    
  }

}

@media(max-width:500px){
  .contact_main{
    flex-direction: column;
  }
  
  .cell h4{
    font-size: 1.5rem;
  }
  .cell img{
    width: 300px;
    height: 300px;
  }
  .cell .contact_link i{
    font-size: 2.5rem;
    padding: 10px;
    text-shadow: black 2px -2px;
  }
  table {
    margin-left:auto; 
    margin-right:auto;
  }
 
  .cell .details table tr{
    padding: 4px;
    font-size: 0.80rem;
    
  }

}
@media(max-width:400px){
  .contact_main{
    flex-direction: column;
  }
  table {
    margin-left:auto; 
    margin-right:auto;
  }
  
  .cell h4{
    font-size: 1.3rem;@media(max-width:400px){
  .contact_main{
    flex-direction: column;
  }
  table {
    margin-left:auto; 
    margin-right:auto;
  }
  
  .cell h4{
    font-size: 1.3rem;
  }
  .cell img{
    width: 220px;
    height: 220px;
  }
  .cell .details{
    padding-bottom: 20px;
  }
  .cell .contact_link i{
    font-size: 2rem;
    padding: 10px;
    text-shadow: black 2px -2px;
  }

  .cell .details table tr{
    padding: 5px;
    font-size: 0.80rem;
    
  }

}
  }
  .cell img{
    width: 220px;
    height: 220px;
  }
  .cell .details{
    padding-bottom: 20px;
  }
  .cell .contact_link i{
    font-size: 2rem;
    padding: 10px;
    text-shadow: black 2px -2px;
  }

  .cell .details table tr{
    padding: 5px;
    font-size: 0.68rem;
    
  }

}
@media(max-width:270px){
  .contact_main{
    flex-direction: column;
  }
  table {
    margin-left:auto; 
    margin-right:auto;
  }
  .email{
    font-size: 0.7rem;
  }
  .cell h4{
    font-size: 1rem;
  }
  .cell img{
    width: 120px;
    height: 120px;
  }
  .cell .details{
    padding-bottom: 20px;
  }
  .cell .contact_link i{
    font-size: 2rem;
    padding: 10px;
  }

  .cell .details table tr{
    padding: 5px;
    font-size: 0.75rem;
    text-align: left;
    
  }

}